<div class="header">
    <div class="mainTitle">
        <div class="logoIcon"> </div>
        <img src="../assets/tool-zone-high-resolution-logo.png" />
        <h1 class="pageTitle">Tool Zone</h1>
        <div></div>
    </div>
    <div class="subTitle">
        <h2 class="catTitle"><%= title %></h2>
    </div>
</div>