<div class="header">
    <div class="logoIcon"><img src="assets/tool-zone-high-resolution-logo-grayscale-transparent.png" alt=""></div>
    <h1 class="pageTitle">Tool Zone</h1>
    <h2><%= title %></h2>
</div>