<div class="header">
    <div class="mainTitle">
        
        <h1 class="pageTitle">Tool Zone</h1>
        
    </div>
    <div class="subTitle">
        <h2 class="catTitle"><%= title %></h2>
    </div>
</div>