<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('header', {title: title}) %>
        <div class="main">
            <a class="addTool homebutton" href="/products/new">Add Tool to Website</a>
            <a class="allTools homebutton" href="/products">See all our tools</a>
            <ul>
                <% for(let i=0; i < brands.length; i++) { %>
                    <li class="brand">

                        <a href="/products">
                            <%= brands[i].brand%>
                        </a>
                    </li>

                    <% } %>
            </ul>
        </div>
        <%- include('footer') %>
</body>

</html>