<form method="POST" action="/products/new" class="formContainer">
    <h1 class="formTitle">Add a Tool to the Shed</h1>
    <div class="formContent">
        <input placeholder="Product Name" type="text" name="productName" id="productName">
        <input placeholder="Brand" type="text" name="productBrand" id="productBrand">
        <div class="checkBOX">
            <input class="box" type="checkbox" id="powertool" name="battery" value="true" checked />
            <label for="powertool">Powertool</label>
        </div>
        <input placeholder="Price" type="number" name="productPrice" id="productPrice">
        <input placeholder="Product Image" type="url" name="productIMG" id="productIMG">
        <button class="subButton" type="submit">Submit</button>
    </div>
</form>