:root{
    --purple: #1f1139;
    --lightBlue: #02f3e9;
    --otherPurple: #33184d;
    --bodyFont: 'alataregular', sans-serif;
    --headingFont: 'bebas_neueregular', sans-serif;
    --background: #F0F0F0;
    --homeFont: calc(1em + .5vw);
    --homeHeight: calc(2em + 1.5vw);
    --rowGap: calc(2vw + .5em);
    --mainMargin: 2em;
    --minWidthMain: 236px;
    --headingFont: calc(1.5em + 2vw);
    
}

.homeLinks, .brandList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--rowGap);
    width: auto;
    height: auto;
    
    
}

.homebutton {
   
    background-color: var(--purple);
    color: var(--lightBlue);
    font-family: var(--headingFont);
    font-size: var(--homeFont);
    height: var(--homeHeight);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.brand {
    /* width: 33vw; */
    background-color: var(--otherPurple);
    color: var(--lightBlue);
    font-family: var(--headingFont);
    font-size: var(--homeFont);
    height: var(--homeHeight);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.otherBrand {
    background-color: var(--otherPurple);
    color: var(--lightBlue);
    font-family: var(--headingFont);
    font-size: var(--homeFont);
    height: var(--homeHeight);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(var(--minWidthMain), 1fr));
}

.linksList {
    display: flex;
    flex-direction: column;
    margin: var(--mainMargin);
    gap: var(--rowGap)
}

.heading {
    font-size: var(--headingFont);
    text-align: center;
    
}

.logo {
    height: auto;
    width:auto;
    margin: var(--mainMargin);
    background-image: url('../assets/tool-zone-high-resolution-logo.png');
    background-color: #525252;

    background-position: center;
    background-size: cover;
    
}
