:root {
    --cardSize: calc(15vw + 4em);
    --cardGap: calc(2vw + .5em);
    --innerCardGap: calc(.5vw + .25em);
    --background: #F0F0F0;
    --cardPadding: calc(.25em + 1vw);
    --priceFontSize: calc(.75em + 1vw)
}

.productCardImage {
    width: 15vw;
    width: var(--cardSize);
    height: var(--cardSize)
}

.productCard {
    max-width: var(--cardSize);
    display: flex;
    flex-direction: column;
    gap: var(--innerCardGap);
    background-color: white;
    padding: var(--cardPadding);
}

.productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: var(--cardGap);
    padding: calc(.5em + 1vw);
}

.productCardName {
    height: 3.4em;
    overflow-y: hidden;
   
}

.productCardPrice {
    font-weight: 800;
    font-size: var(--priceFontSize);
}

.productCardBrand {
    font-weight: 500;
}

.productContent{
    display: flex;
    flex-direction: column-reverse;
    width: var(--cardSize);
    justify-content: start;
    align-items: start;
   
}
