@font-face {
    font-family: 'alataregular';
    src: url('alata-webfont.woff2') format('woff2'),
         url('alata-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('bebas_neue-webfont.woff2') format('woff2'),
         url('bebas_neue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root{
    --purple: #1f1139;
    --lightBlue: #02f3e9;
    --otherPurple: #33184d;
    --bodyFont: 'alataregular', sans-serif;
    --headingFont: 'bebas_neueregular', sans-serif;
    --background: #F0F0F0;
    --pagePadding: calc(.5em + .25vw);
    --headerHeight: calc(5vh + 1em);
    --footerHeight: calc(3vh + 1em);
    --headLogo: calc(3vh + .5em);
    --grey: #525252;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: var(--bodyFont);
	vertical-align: baseline;
}


.content {
    display: grid;
    /* overflow-y: auto; */
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: space-between;
    /* height: calc(100vh - var(--pagePadding));
    width: calc(100vw - var(--pagePadding));
    padding: var(--pagePadding); */
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
    
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: start;
    overflow-y: auto;
}

.header {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(.5em + .5vw);
    padding: calc(.5em + 3vh);
    
   
    
}

.mainTitle > .img {
    display: block;
    height: var(--headLogo);
    width: var(--headLogo);
}

.logoIcon {
    width: var(--headLogo);
    height: var(--headLogo);
    background-image:url(assets/tool-zone-high-resolution-logo.png)
}

.mainTitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.pageTitle {
    font-family: var(--headingFont);
    font-size: calc(2vw + 2em);
}

.catTitle {
    font-family: var(--headingFont);
    font-size: calc(1vw + 1em);
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--footerHeight);
    background-color: var(--grey);
    color: #F0F0F0;
}
